@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
.User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
  
  border-bottom: 3px solid rgb(147, 21, 185);
  padding-bottom: 15px;
}
.User img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.User h2 {
  color: rgb(0, 251, 255);
  font-family: "Alegreya", serif;
}
