.MovieSection{
    height: 80%;
    
    overflow: scroll;
    width: 100%;
    padding: 0px 30px;
    background-color: #ffbe4f;
    display: flex;
    gap: 10px;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
  
}